{% extends 'base/content_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

<div class ="container well">
  <div class="row set-row-pad"  data-scroll-reveal="enter from the bottom after 0.3s" >
    <div class="col-lg-5 col-lg-offset-3">
			<p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
		</div>
	</div>
</div>
{% endblock %}