{% extends 'base/content_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

<div class ="container well">
  <div class="row set-row-pad"  data-scroll-reveal="enter from the bottom after 0.3s" >
    <div class="col-lg-5 col-lg-offset-3 ">

		{% block content %}

		<form action="" method="post">{% csrf_token %}
		    {% if form.email.errors %}{{ form.email.errors }}{% endif %}
		        <p>{{ form.email }}</p> 
		    <input type="submit" class='btn btn-default btn-lg' value="Reset password" />
		</form>

		</div>
	</div>
</div>
{% endblock %}