{% extends 'base/content_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<hr />
<div class ="container well">
  <div class="row">

    <div class="col-md-5 col-md-offset-3">
        <center> <h1>{% trans "Sign Up" %}</h1></center>
   
        <p>{% blocktrans %}Already have an account? &emsp;<a class="label label-primary" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <div class="form-group">

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form|crispy}}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}        
              <button type="submit" class = 'btn btn-success btn-sm'>{% trans "Sign Up" %} &raquo;</button>
          </form> 
           </div>   				
    	</div>			
		</div>
	</div>

{% endblock %}